
.hero {
  background-color: #2d3093;
  color: white;
  text-align: center;
}

img {
    max-width: 50px;
    max-height: 50px;
}

button {
  background-color: #567cdc;
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  color: white;
  border: none;
}

input {
  width: 97%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid;
 
}

#textInputColumn {
  border-bottom: 2px solid #2d3093;
  border-width: 100%;
  padding-bottom: 10px;
}

#searchHistory li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: grey;
  border-radius: 5px;
  justify-content: center;
  color: white;
  width: auto;

}

 ul {
  padding-inline-start: 0px;
}

#weather-forecast {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  
  /* Style for the first day container */
  .currentDay {
    flex-basis: 100%; /* Takes up full width */
    max-width: 100%; /* Ensure it doesn't exceed the width of the page */
    padding: 10px;
    background-color: white; /* Example background color */
    margin-bottom: 10px;
    
  }

  .currentDayContainer{
    border: 2px solid;
    border-color: #24303d;
  }
  
  /* Style for the remaining days container */
  .forecast-item {
    flex-basis: calc(20% - 20px); /* Adjust the width based on your design */
    max-width: calc(20% - 20px); /* Adjust the max-width accordingly */
    padding: 10px;
    background-color: #24303d; /* Example background color */
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
  }

  .container {
    display: flex;
    justify-content: space-between;
}

.left-column {
    width: 30%; /* Adjust the width as needed */
    background-color: white; /* Background color for the left column */
}

.right-column {
    width: 65%; /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
}

.right-block {
    margin-bottom: 10px; /* Adjust the spacing between the blocks as needed */
    background-color: white; /* Background color for the right blocks */
}